{% extends ['base.html.twig', "SurvosBaseBundle::base.html.twig"] %}

{% block body %}

    {% for provider, details in user.identifiers %}
        <h1>{{ provider }}</h1>
    {% endfor %}

{% endblock %}
